:10000 {
    handle_path /rust/* {
        reverse_proxy 127.0.0.1:5000
    }

    handle_path /python/* {
        reverse_proxy 127.0.0.1:8000
    }

    handle {
        respond "Caddy is running but no route matched" 404
    }
}
